@import "tailwindcss";
 
@theme {
  --color-primary:      #FF8904;
  --color-primary-50:   #FFF3E7;
  --color-primary-100:  #FFE7CF;
  --color-primary-200:  #FFCF9F;
  --color-primary-300:  #FFB670;
  --color-primary-400:  #FF9E40;
  --color-primary-500:  #FF8904;
  --color-primary-600:  #E67900;
  --color-primary-700:  #B35E00;
  --color-primary-800:  #804300;
  --color-primary-900:  #4C2800;
}
 
@layer utilities {
  body {
    @apply bg-slate-900 text-slate-100;
  }
}
